.App {
    text-align: center;
}

.App-logo {
    pointer-events: none;
}

.App-page-title {
    font-size: large;
    font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    font-size: x-large;
    color: white;
}

.App-header .notice {
    color: lightgoldenrodyellow;
    font-weight: bolder;
    background-color: #3488bc;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

div.App div.row {
    display: flex;
}

div.App div.left {
    flex: 20%;
}

div.App div.right {
    flex: 80%;
    padding-left: 10px;
}

div.App div.navbar {
    background-color: #3488bc;
    display: flow-root;
    height: 400px;
}

div.App div.navbar a {
    color: white;
    font-size: large;
}
